body {
background-color: aquamarine;
    font-size: 25px;
}
h1 {
    text-align: center;
    padding: 5% 25% 5% 25%;
}
#clockContainer, #graphicContainer {
    position: absolute;
    margin: 0 auto;
    background-color: antiquewhite;
    height: auto;
    max-width: 40%;
    border: 3px solid green;
    padding: 10px;
    border-radius: 30px;
    cursor: move;
    z-index: 10;
    overflow: auto;
    top: 25%;
    left: 50%;
}
.displayDate {
    text-align: center;
    font-size: 25px;
    background-color: beige;
    border: 3px solid #ddd;
    padding: 10px;
    border-radius: 30px;
}
.toDisplay {
    display: block;
}
#nameEvent {
    background-color: beige;
    border: 3px solid #ddd;
    padding: 10px;
    border-radius: 30px;
}
@media only screen and (max-width: 900px) {
    #clockContainer, #graphicContainer {
        top: 550px;
        left: 25%; 
    }
}
#inputName {
    border-radius: 15px;
    height: 25px;
    padding: 8px;
    font-size: 20px;
}
#button {
    border-radius: 15px;
    height: 40px;
    width: 80px;
    padding: 0px;
    font-size: 20px;
}
.progressP {
    display: inline;
}